/* container for entire application*/
.calendar {
    height: 100%;
}

/* header sytlings*/
.calendar-header {
    height: 4rem;
    border-bottom: 1px solid #dadce0;
    display: flex;
    align-items: center;
}

.header-icon {
    height: 4rem;
    width: 4rem;
}

.sidebar-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.logo-text-container {
    display: flex;
    align-items:center;
}


.icon-name {
    font-size: 1.4rem;
    margin-left: -0.5rem;
}

.calendar-body { 
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: row;
}

.next-prev-btn-container {
    margin-left: 10%;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.next-prev-btn {
    all: unset;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    user-select: none;
}

.next-prev-btn:hover {
    background-color: rgba(205, 202, 207, 0.577);
}

.next-prev-btn:active {
    background-color: rgba(143, 141, 144, 0.577);
}
.next-prev-btn-icon {
    width: 1.3rem;
}

.today-btn {
    all: unset;
    display: flex;
    border: 1px solid rgb(76, 74, 74);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.today-btn:hover {
    background-color: rgba(224, 221, 226, 0.577);
}

.today-btn:active{
    background-color: rgba(143, 141, 144, 0.577);
}

.calendar-header {
    user-select: none;
}