.day-date-container {
    display: flex;
    flex-direction: column;
    color: #643B9F;
    font-weight: 700;
    font-size: 0.8rem;
    width: 3rem;
    text-align: center;
    margin-left: 2rem;
    padding-bottom: 1rem;

}

.day-container {
    height: 100%;
}

.day-date-circle {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    color: black;
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
}

.day-date-today {
    background-color: #643B9F;
    color: white;
}

.day-grid-container {
    height: calc(100% - 5rem);
    overflow: scroll;
    z-index: 1;
}

.day-hour-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4rem;
    font-size: 0.8rem;
    color: #77797f;
}

.time-text {
    font-size: 0.7rem;
    color: #77797f;
}

.hour-line {
    all: unset;
    width: 96%;         
    height: 1px;          
    background-color: #AC94F4
}

.day-grid {
    position: relative;
    flex: 1;
    margin-top: 1%;
}

.grid-time-container {
    display: flex;
    flex-direction: row;
}

.hour-grid {
    display: flex;
    flex-direction: column;
    gap: 3.221rem;
    width: 5%;
    border-right: solid 1px #AC94F4;
}

/* Stylling for an added event */
.day-event {
    width: 90%;
    left: 0%;
    position: absolute;
    background-color: violet;
    border-radius: 0.5rem;
}