.event-details-modal {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: white;
    min-height: 5rem;
    max-height: 80%; 
    display: flex;
    width: 25rem;
}

.event-details-time {
    display: flex;
    flex-direction: column;

}

.event-details-title {
    color: #3c4043;
    font-size: 1.4rem;
}

.event-details-time {
    color: #7e8083;
    font-size: 0.9rem;
}

.event-details-modal-header {
    width: 100%;
    height: 1.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.event-details-body {
    padding: 0rem 1rem 1rem 1rem;
}

.event-details-modal-close {
    margin-left: 94%;
    cursor: pointer;
}

.event-description {
    margin-top: 1rem;
    font-size: 0.9rem;
}