.mini-calendar-container {
    width: 14rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
}

.mini-calendar-header {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mini-calendar-header-month {
    font-size: 0.9rem;
    font-weight: bold;
}